<div class="flex flex-col items-center justify-center bg-white p-10 rounded-lg shadow-lg shadow-black max-w-xl my-10">
    
    <h1 class="text-3xl font-bold mb-6">My Favorites 💖</h1>

    <% if @favorites %>
        <ul class="w-full">
            <% @favorites.each do |favorite| %>
                <li class="flex items-center justify-between border-b-2 border-gray-200 py-4">
                    <p class="hover:bg-slate-200 px-2"><span class="font-bold">#Fact <%= favorite.cat_fact.id%></span> <%= favorite.cat_fact.fact %></p>
                    
                </li>
            <% end %>
        </ul>
    <% else %>
        <p class="text-xl font-bold">You don't have any favorites yet!</p>
    <% end %>
